.navbar {
    /* background: rgba(0, 43, 6, 0.815);*/
    background: rgb(166, 203, 158);
    background: linear-gradient(297deg, rgba(166, 203, 158, 1) 0%, rgba(56, 136, 85, 1) 100%);
    text-align: center;
    display: flex;
    position: sticky;
    z-index: 999;
}


/* navbar itemlerinin text rengini ve yazı fontunun boyutunu değiştiriyoruz. */
.navbar-nav .nav-link {
    color: white;
    font-size: large;
}

#ilimiz {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;

}

.card a {
    display: flex;
    justify-content: center;
    background-color: #189640c0;
    border: none;
}

.card a:hover {
    background-color: #18964079;
    border-color: #189640c0;
}

/* navbar itemlerine üzerine geldiğimizde hover ekliyoruz */
.navbar-nav .nav-link:hover {
    color: rgb(182, 176, 176);
}



.jumbotron {
    background-image: url("img/bg.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.jumbotron button {
    background-color: #189640c0;
    color: white;
    border: none;

}

.jumbotron button:hover {

    background-color: #18964063;

}

.jumbotron a {
    text-decoration: none;
    color: white;
}

/* jumbotron içindeki yazıların rengini beyaz yapıyoruz */
.jumbotron h1,
.jumbotron p,
.jumbotron hr {
    color: white;
}

/* cardların içindeki resimleri sabit bi genişlik ve yükseklikte tutuyoruz */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    max-height: max-content;
    height: 100%;
}

/* cardların içindeki yazılara oweflow verip satır sınırlarını belirliyoruz. */
.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.contactimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contactCard{
    margin-bottom: 50px;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}